.container {
    width: auto;
    height: auto;
    position:relative;
	margin-right: auto;
}
/* 
部屋の状況を示すインジケータ
 */
.status1 {
   float: left;
   position: absolute;
   left: 195px;
   top: 200px;
   z-index: 1000;
   padding: 4px;
   color: #FFFFFF;
   font-weight: bold;
}
.status2 {
   float: left;
   position: absolute;
   left: 282px;
   top: 200px;
   z-index: 1000;
   padding: 4px;
   color: #FFFFFF;
   font-weight: bold;
}
.status3 {
   float: left;
   position: absolute;
   left: 369px;
   top: 200px;
   z-index: 1000;
   padding: 4px;
   color: #FFFFFF;
   font-weight: bold;
}
.status4 {
   float: left;
   position: absolute;
   left: 456px;
   top: 200px;
   z-index: 1000;
   padding: 4px;
   color: #FFFFFF;
   font-weight: bold;
}
.redBox {
	background-color: #CE2525;
	}

.greenBox{
	background-color: #92AD40;
}

/* フッターナビバーの設定 */

#nav {
  list-style: none;
  overflow: hidden;
  height:80px;
}

#nav li {
  width: auto;
  text-align: center;
  float: left;
}

#nav li a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;

}